[general]
queue_name=hello
results_queue_name=results

[coordinator]
queue_url=amqp://guest:guest@127.0.0.1:5672/
taskcreator=ParamsInExternalFileCreator
csvfile=/home/jairo/test_param.csv

[task]
command=/home/jairo/one/one.sh
arguments=-b 50
external_folder =/home/jairo/configs/

[worker]
# How many cores in this machine to use
cores = 2
# Tune the heartbeat parameter to match the estimated execution time
queue_url =amqp://guest:guest@127.0.0.1:5672/