[general]
queue_url = "amqp://guest:guest@127.0.0.1:5672"
queue_name = "hello"

[coordinator]
taskcreator=ParamsInExternalFileCreator
csvfile = '/home/jairo/Repos/one-scenarios/CRAWDAD/infocom06.csv'
executable = "/home/jairo/one/one.sh"
arguments = "-b 50"

[worker]
# How many cores in this machine to use
cores = 7